---
layout: page
title: Upcoming Events
permalink: events
---     
        
        <!-- Event Start -->
        <div class="event">
            <div class="container">
                <div class="section-header text-center">
                    <p>Upcoming Events</p>
                    <h2>Be ready for our upcoming charity events</h2>
                </div>
                <div class="row justify-content-around">
                    
                    <div class="col-lg-6">
                        <div class="event-item">
                            <img src="{{site.baseurl}}/img/uploads/megatrek.png" alt="Megatrek">
                            <div class="event-content">
                                <div class="event-meta">
                                    <p><i class="fa fa-calendar-alt"></i>Sep 2021</p>
                                    <p><i class="far fa-clock"></i>TBA</p>
                                    <p><i class="fa fa-map-marker-alt"></i>TBA</p>
                                </div>
                                <div class="event-text">
                                    <h3>MegaTrek 5.0</h3>
                                    <p>
                                        Get ready for the biggest award winning Club Service event
                                    </p>
                                    <a class="btn btn-custom">Coming Soon</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    {% assign events = site.events | sort: 'start' %}
                    {% capture now %}{{ site.time | date: '%Y%m%d' | plus: 0 }}{%- endcapture %}
    
                    {% for event in events %}
                    {% capture start %}{{event.start | date: '%Y%m%d' | plus: 0 }}{% endcapture %}
                    {% capture end %}{{event.end | date: '%Y%m%d' | plus: 0 }}{% endcapture %}
                    {% if end >= now or event.end == "" %}
                    <div class="col-lg-6">
                        <div class="event-item">
                            <img src="{{event.image | relative_url}}" alt="{{event.title}}">
                            <div class="event-content">
                                <div class="event-meta">
                                    <p><i class="fa fa-calendar-alt"></i>{{ event.start | date: '%d %b %Y' }}</p>
                                    <p><i class="far fa-clock"></i>{{event.start | date: '%R'}} - {{event.end | date: '%R'}}</p>
                                    <p><i class="fa fa-map-marker-alt"></i>{{event.venue}}</p>
                                </div>
                                <div class="event-text">
                                    <h3>{{event.title}}</h3>
                                    <p>
                                        {{event.brief}}
                                    </p>
                                    <a class="btn btn-custom" {% if event.button_url != "" %}href="{% if event.button_url contains "://" %}{{ event.button_url }}{% else %}{{ event.button_url | relative_url }}{% endif %}" {% if event.button_url contains "://" %}target="_blank"{% endif %}{% endif %}>{{event.button_text}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Event End -->