---
layout: default
---

    <!-- Carousel Start -->
    <div class="carousel">
        <div class="container-fluid">
            <div class="owl-carousel">
{% for item in site.data.info.carousel %}
                <div class="carousel-item">
                    <div class="carousel-img">
                        <img src="{{item.image}}" alt="{{item.headline}}">
                    </div>
                    <div class="carousel-text">
                        <h1>{{item.headline}}</h1>
                        <p>
                            {{item.brief}}
                        </p>
                        <div class="carousel-btn">
                            <a class="btn btn-custom" href="{% if item.buttons.target1 contains "://" %}{{ item.buttons.target1 }}{% else %}{{ item.buttons.target1 | relative_url }}{% endif %}" {% if item.buttons.target1 contains "://" %}target="_blank"{% endif %}>{{item.buttons.text1}}</a>
                            <a class="btn btn-custom btn-play" data-toggle="modal" data-src="https://www.youtube.com/embed/{{item.buttons.vidid}}?rel=0&controls=0" data-target="#videoModal">{{item.buttons.vidtext}}</a>
                        </div>
                    </div>
                </div>
{% endfor %}

            </div>
        </div>
    </div>
    <!-- Carousel End -->

    <!-- Video Modal Start-->
    <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>        
                    <!-- 16:9 aspect ratio -->
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="" id="video"  allowscriptaccess="always" allow="autoplay"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <!-- Video Modal End -->

    {% include about.html %}
    {% include areasoffocus.html %}
    {% include facts.html %}

    {% include awards.html %}

    <!-- Event Start -->
    <div class="event">
        <div class="container">
            <div class="section-header text-center">
                <p>Upcoming Events</p>
                <h2>Be ready for our upcoming events</h2>
            </div>
            <div class="row justify-content-around">

                <div class="col-lg-6">
                    <div class="event-item">
                        <img src="{{site.baseurl}}/img/uploads/megatrek.png" alt="Megatrek">
                        <div class="event-content">
                            <div class="event-meta">
                                <p><i class="fa fa-calendar-alt"></i>Sep 2021</p>
                                <p><i class="far fa-clock"></i>TBA</p>
                                <p><i class="fa fa-map-marker-alt"></i>TBA</p>
                            </div>
                            <div class="event-text">
                                <h3>MegaTrek 5.0</h3>
                                <p>
                                    Get ready for the biggest award winning Fellowship event
                                </p>
                                <a class="btn btn-custom">Coming Soon</a>
                            </div>
                        </div>
                    </div>
                </div>

                {% assign events = site.events | sort: 'start' %}
                {% capture now %}{{ site.time | date: '%Y%m%d' | plus: 0 }}{%- endcapture %}

                {% assign event_count = 0 %}

                {% for event in events %}
                {% capture start %}{{event.start | date: '%Y%m%d' | plus: 0 }}{% endcapture %}
                {% capture end %}{{event.end | date: '%Y%m%d' | plus: 0 }}{% endcapture %}
                {% if end != "" and end >= now and event_count < 2 %} 
                <div class="col-lg-6">
                    <div class="event-item">
                        <img src="{{event.image | relative_url}}" alt="{{event.title}}">
                        <div class="event-content">
                            <div class="event-meta">
                                <p><i class="fa fa-calendar-alt"></i>{{ event.start | date: '%d %b %Y' }}</p>
                                <p><i class="far fa-clock"></i>{{event.start | date: '%R'}} - {{event.end | date: '%R'}}</p>
                                <p><i class="fa fa-map-marker-alt"></i>{{event.venue}}</p>
                            </div>
                            <div class="event-text">
                                <h3>{{event.title}}</h3>
                                <p>
                                    {{event.brief}}
                                </p>
                                <a class="btn btn-custom" href="{% if event.button_url contains "://" %}{{ event.button_url }}{% else %}{{ event.button_url | relative_url }}{% endif %}" {% if event.button_url contains "://" %}target="_blank"{% endif %}>{{event.button_text}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% assign event_count = event_count | plus: 1 %}
                {% endif %}
                {% endfor %}

                {% for event in events %}
                {% capture start %}{{event.start | date: '%Y%m%d' | plus: 0 }}{% endcapture %}
                {% if event.end == "" and event_count < 2 %} 
                    <div class="col-lg-6">
                        <div class="event-item">
                            <img src="{{event.image | relative_url}}" alt="{{event.title}}">
                            <div class="event-content">
                                <div class="event-meta">
                                    <p><i class="fa fa-calendar-alt"></i>{{ event.start | date: '%d %b %Y' }}</p>
                                    <p><i class="far fa-clock"></i>{{event.start | date: '%R'}} - TBD</p>
                                    <p><i class="fa fa-map-marker-alt"></i>{{event.venue}}</p>
                                </div>
                                <div class="event-text">
                                    <h3>{{event.title}}</h3>
                                    <p>
                                        {{event.brief}}
                                    </p>
                                    <a class="btn btn-custom" href="{% if event.button_url contains "://" %}{{ event.button_url }}{% else %}{{ event.button_url | relative_url }}{% endif %}" {% if event.button_url contains "://" %}target="_blank"{% endif %}>{{event.button_text}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% assign event_count = event_count | plus: 1 %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Event End -->

    {% include stars.html %}

    {% if site.data.info.testimonials.size > 0 %}
    {% include testimonial.html %}
    {% endif %}

    <!-- Blog Start -->
    <div class="blog">
        <div class="container">
            <div class="section-header text-center">
                <p>Our Initiatives</p>
                <h2>Latest updates on our activities & Initiatives</h2>
            </div>
            <div class="row justify-content-around">
                {% assign posts = site.posts | sort: 'date' | reverse %}
                {% for post in posts limit: 3 %}
                {% include postbox.html %}
                {% endfor %}
                {% assign posts = null %}
            </div>
        </div>
    </div>
    <!-- Blog End -->
    
    <!-- Contact Start -->
    <div class="contact">
        <div class="container">
            <div class="section-header text-center">
                <p>Get In Touch</p>
                <h2>Contact for any query</h2>
            </div>
            <div class="contact-img">
                <img src="{{site.baseurl}}/img/join.jpeg" alt="Join Us">
            </div>
            <div class="contact-form">
                    <div id="success"></div>
                    <form name="sentMessage" id="contactForm" novalidate="novalidate">
                        <div class="control-group">
                            <input type="text" class="form-control" id="name" placeholder="Your Name" required="required" data-validation-required-message="Please enter your name" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="email" class="form-control" id="email" placeholder="Your Email" required="required" data-validation-required-message="Please enter your email" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="text" class="form-control" id="subject" placeholder="Subject" required="required" data-validation-required-message="Please enter a subject" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <textarea class="form-control" id="message" placeholder="Message" required="required" data-validation-required-message="Please enter your message"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div>
                            <button class="btn btn-custom" type="submit" id="sendMessageButton">Send Message</button>
                        </div>
                    </form>
                </div>
        </div>
    </div>
    <!-- Contact End -->

