        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="{{site.baseurl}}/lib/easing/easing.min.js"></script>
        <script src="{{site.baseurl}}/lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="{{site.baseurl}}/lib/waypoints/waypoints.min.js"></script>
        <script src="{{site.baseurl}}/lib/counterup/counterup.min.js"></script>
        <script src="{{site.baseurl}}/lib/parallax/parallax.min.js"></script>
        
        <!-- Template Javascript -->
        <script src="{{site.baseurl}}/js/main.js"></script>