        <!-- Team Start -->
        <div class="team">
            <div class="container">
                <div class="section-header text-center">
                    <p>Star Rotaractors</p>
                    <h2>Awesome folks behind our activities</h2>
                </div>
                <div class="row justify-content-around">
                    {% for member in site.data.team.stars %}
                    <div class="col-lg-3 col-md-6">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="{{member.image | relative_url}}" alt="{{member.name}}">
                            </div>
                            <div class="team-text">
                                <h2>{{member.name}}</h2>
                                <p>{{member.role}}</p>
                                <p>RI ID: {{member.riid}}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Team End -->