---
layout: default
---
        <!-- Page Header Start -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>{% if page.type == "year" %}{{ page.date | date: "%Y"}}{% elsif page.type == "month" %}{{ page.date | date: "%B %Y"}}{% elsif page.type == "day" %}{{ page.date | date: "%d %B %Y"}}{% elsif page.type == "tag" %}Tag: {{ page.title | capitalize | replace: "-"," "}}{% elsif page.type == "category" %}{{ page.title | capitalize | replace: "-"," "}}{% else %}{{ page.title }}{% endif %}</h2>
                    </div>
                    <div class="col-12">
                        {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
                        <a href="{{site.baseurl}}/">Home</a>
                        <a href="{% if page.layout == "post" or page.layout == "archive" %}{{site.baseurl}}/initiatives{% else %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' | replace:'without-plugin/','without-plugins/' }}{% endfor %}{% endif %}">{% if page.layout == "post" or page.layout == "archive" %}Initiatives{% else %}{{page.title}}{% endif %}</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->
  
        {{content}}