---
layout: page
---
        <!-- Single Post Start-->
        <div class="single">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="single-content">
                            <img src="{{page.image | relative_url}}" />
                            <h2>{{page.title}}</h2>
                            <p><i class="fa fa-calendar"></i><a> {{ page.date | date: '%d %B %Y' }}</a></p>
                            <hr style="border-top: 1px dashed #FDBE33">
                            {{content}}
                        </div>
                        <div class="single-tags">
                            {% assign tags_list = page.tags %}
                            {% if tags_list.first[0] == null %}
                            {% for tag in tags_list %}
                            <a href="{{site.baseurl}}/initiatives/tag-{{ tag | slugify }}">{{ tag | capitalize | replace: "-"," "}}</a>
                            {% endfor %}
                            {% else %}
                            {% for tag in tags_list %}
                                <a href="{{site.baseurl}}/initiatives/tag-{{ tag[0] | slugify }}">{{ tag[0] | capitalize | replace: "-"," "}}</a> 
                            {% endfor %}
                            {% endif %}
                            {% assign tags_list = nil %}
                        </div>

                        {% if page.author %}
                        {% assign author = site.data.info.authors[page.author] %}
                        <div class="single-bio">
                            <div class="single-bio-img">
                                <img src="{% if author.image %}{% if author.image contains "://" %}{{ author.image }}{% else %}{{ author.image | relative_url }}{% endif %}{% else %}{{site.baseurl}}/img/logo.png{% endif %}" />
                            </div>
                            <div class="single-bio-text">
                                <h3>{{ author.display_name }}</h3>
                                <p>
                                    {{author.description}}
                                </p>
                            </div>
                        </div>
                        {% endif %}

                        <div class="single-related">
                            <h2>Similar Initiatives</h2>
                            <div class="owl-carousel related-slider">

                            {% assign maxRelated = 4 %}
                            {% assign minCommonTags =  1 %}
                            {% assign maxRelatedCounter = 0 %}
                                {% for post in site.posts %}

                                    {% assign sameTagCount = 0 %}
                                    {% assign commonTags = '' %}
                                
                                    {% for tag in post.tags %}
                                        {% if post.url != page.url %}
                                            {% if page.tags contains tag %}
                                            {% assign sameTagCount = sameTagCount | plus: 1 %}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                
                                    {% if sameTagCount >= minCommonTags %}
                                        <div class="post-item">
                                            <div class="post-img">
                                                <img src="{{post.image | relative_url}}" />
                                            </div>
                                            <div class="post-text">
                                                <a href="{{post.url}}">{{post.title}}</a>
                                                <div class="post-meta">
                                                    <p><i class="fa fa-calendar"></i><a>{{ post.date | date: '%d %B %Y' }}</a></p>
                                                </div>
                                            </div>
                                        </div>
                                        {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
                                        
                                        {% if maxRelatedCounter >= maxRelated %}
                                            {% break %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="comment-form">
                            <h2>Send us a Message</h2>
                            <form>
                                <div class="form-group">
                                    <label for="name">Name *</label>
                                    <input type="text" class="form-control" id="name">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email *</label>
                                    <input type="email" class="form-control" id="email">
                                </div>
                                <div class="form-group">
                                    <label for="website">Phone</label>
                                    <input type="url" class="form-control" id="website">
                                </div>

                                <div class="form-group">
                                    <label for="message">Message *</label>
                                    <textarea id="message" cols="30" rows="5" class="form-control"></textarea>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Post Comment" class="btn btn-custom">
                                </div>
                            </form>
                        </div>
                    </div>

                    {% include sidebar.html %}
                </div>
            </div>
        </div>
        <!-- Single Post End-->   